
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
<link rel="stylesheet" href="{% static 'css/bootstrap-electro.css' % }">
   <link rel="stylesheet" href="{% static 'css/fontawesome-all-electro.css' %}">
   
    <link rel="stylesheet" href="{% static 'css/style-electro.css' %}">
       <link rel="stylesheet" href=" {% static 'css/popuo-box-electro.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu-electro.css' %}">
         <link rel="stylesheet" href="{%static 'css/style-starter.css'%}">

	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">

</head>

<body>
    <!-- banner -->
   <header>
   	<header class="w3l-header">
  <div class="hero-header-11">
    <div class="hero-header-11-content">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-md-2 py-0 px-0">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo-icon.png' %}" alt="" />Smart Recommender</a>
          <!-- if logo is image enable this   
        <a class="navbar-brand" href="#index.html">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
        </a> -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item @@about-active">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item @@about-active">
                <a class="nav-link" href="{% url 'logout' %}"><span>LogOut</span></a>
              </li>
           
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
  

   </header>

        <!-- header -->
        

 
        <!-- //header -->
          <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            
 
       
          <div class="side-bar p-sm-4 p-3">
            <div class="search-hotel border-bottom py-2">
              <h3 class="agileits-sear-head mb-3">Search Here..</h3>
              <form action="#" method="post">
                <input type="search" placeholder="Course name..." name="search" required="">
                <input type="submit" value=" ">
              </form>
            </div>


            <!-- price -->
            
            <!-- //price -->
            <!-- discounts -->
            <div class="left-side border-bottom py-2">
              <h3 class="agileits-sear-head mb-3">Subject</h3>
              <ul>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Computer Programming</span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Database</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Game development</span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Artificial Intelligence </span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Web Development</span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Android Development </span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Mathematics</span>
                </li>
                
                  <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Computer architecture</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Algorithms</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Machine learning</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Software engineering</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">web designing</span>
                </li>
                  <li>
                  <input type="checkbox" class="checked">
                  <span class="span">ios development</span>
                </li>

              </ul>
            </div>

           
             <div class="left-side border-bottom py-2">
              <h3 class="agileits-sear-head mb-3">Difficulty level</h3>
              <ul>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Beginner (cgpa< 2.5)</span>
                </li>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Intermediate (cgpa<=3.5)</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Advanced (cgpa>3.5)</span>
                </li>
                
              
              </ul>
            </div>
            <!-- //discounts -->
            <!-- reviews -->
           
            <!-- //reviews -->
            <!-- electronics -->
           
            <!-- //electronics -->
            <!-- delivery -->
            <div class="left-side border-bottom py-2">
              <h3 class="agileits-sear-head mb-3">Study Mode</h3>
              <ul>
                <li>
                  <input type="checkbox" class="checked">
                  <span class="span">On Campus</span>
                </li>
                 <li>
                  <input type="checkbox" class="checked">
                  <span class="span">Online </span>
                </li>
              </ul>
            </div>
            <!-- //delivery -->
            <!-- arrivals -->
           
        </div>
</div>

        	<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      <div class="card" style="width: 18rem;">

  <div class="view zoom overlay">
   
      <div class="mask">
        <img class="img-fluid w-100"
          src="https://m.media-amazon.com/images/I/51fUd+S50eL.jpg">
        <div class="mask rgba-black-slight"></div>
      </div>
    
  </div>

  <div class="card-body text-center" >

    <h5>Database course</h5>
    <p class="small text-muted text-uppercase mb-2">Courses</p>
    
    <hr>
    <h6 class="mb-3">
      <span class="text-danger mr-1">$12.99</span>
      <span class="text-grey"><s>$36.99</s></span>
    </h6>

    <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
      <i class="fas fa-shopping-cart pr-2"></i>Add to cart
    </button>
    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
      <i class="fas fa-info-circle pr-2"></i>Details
    </button>
    <button type="button" class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
      <i class="far fa-heart"></i>
    </button>

  </div>

</div>
    </main>
</div>
    

        


	  <!-- /services -->
	  <script src="assets/js/jquery-2.2.3.min-electro.js"></script>
	  <script src="assets/js/bootstrap-electro.js"></script>
   
<!-- //stats -->
<!--/newsletter-->
   
	
    <!--//newsletter-->

<!-- js -->
 
</body>
</html>